* {
  margin: 0;
  padding: 0;
}
div.container {
  height: 400px;
  width: 60%;
  background-color: plum;
}
div.todosScroll {
  height: 200px;
  width: 50%;
  background-color: powderblue;
  overflow: auto;
}
#footer{
  font-size: medium;
  
}